! Rofi config
rofi.color-enabled: true
rofi.color-normal: #282828, #ebdbb2, #282828, #504945, #ccbd9c
rofi.color-urgent: #1f222d, #ebdbb2, #1f222d, #1f222d, #7780a1
rofi.color-active: #1f222d, #ebdbb2, #1f222d, #1f222d, #7780a1
rofi.color-window: #282828, #282828
rofi.separator-style: solid


! My color scheme (gruvbox modified)

! special
*.foreground:   #ebdbb2
*.background:   #282828
*.cursorColor:  #ebdbb2

! black
*.color0:       #282828
*.color8:       #928374

! red
*.color1:       #cc241d
*.color9:       #fb4934

! green
*.color2:       #98971a
*.color10:      #b8bb26

! yellow
*.color3:       #d79921
*.color11:      #fabd2f

! blue
*.color4:       #458588
*.color12:      #427d67

! magenta
*.color5:       #b16286
*.color13:      #d3869b

! cyan
*.color6:       #689d6a
*.color14:      #8ec07c

! white
*.color7:       #a89984
*.color15:      #ebdbb2
